/transaction_service/btm1.tlog
/transaction_service/btm2.tlog
/apigateway/.mvn/wrapper/maven-wrapper.jar
/data/.mvn/wrapper/maven-wrapper.jar
/transaction_service/.mvn/wrapper/maven-wrapper.jar
/apigateway/.mvn/wrapper/maven-wrapper.properties
/data/.mvn/wrapper/maven-wrapper.properties
/transaction_service/.mvn/wrapper/maven-wrapper.properties
/apigateway/mvnw
/data/mvnw
/transaction_service/mvnw
/apigateway/mvnw.cmd
/data/mvnw.cmd
/transaction_service/mvnw.cmd
/**/.mvn/wrapper/

/app/data/actors.xml
/apigateway/src/test/java/com/business/apigateway/ApigatewayApplicationTests.java
